table.entityList {
    margin: 50px;
    padding-bottom: 15px;
}
table.entityList th {
    text-align: center;
    font-weight: bold;
    padding: 15px;
    background: #a55d5d;
}
table.entityList td {
    background: #e2e2d2;
    padding: 5px;
}
.title {
    font-weight: bold;
    font-size: large;
}
.banned {
    color: crimson !important;
}

#creationHeader {
    border: 1px solid #ccc;
    padding: 20px;
    margin:20px;
}
#templatesTable {
    border: 1px solid #ccc;
    padding: 30px 20px;
    margin:20px;
}
#templatesTable td {
    padding: 0 15px;
}
.templateControls {
    padding: 0 !important;
    text-align: center;
}

.template-content {
    min-height: 50px;
}
.field-name {
    font-weight: bold;
}
.w-20 {
    width: 20% !important;
}